

body{
  background-color:  #0d0d0d;
  color:   #333333;
  border-style: solid;
}

h1 {
    text-align: center;
    background-color: #cccccc;
}

.row{
  color:   #d9d9d9;
  background-color:  #0d0d0d;
  display:table;
  border-style: double;
}
.col{
  border-style: double;
}


[class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}



.text{
  color: #0d0d0d ;
}

.shiny-bound-input{
  color: #333333;
}

.col-sm-4{
  background-color: #cccccc;
  color:   #333333;
}

.shiny-input-radiogroup{
    color:  #d9d9d9;

}

#PAFandPIFout{
  font-size: large;
}
